name: CI/CD for course-service

on:
  push:
    branches: ["master", "main"]
  pull_request:
    branches: ["master", "main"]

jobs:
  tests:
    name: Run tests
    runs-on: ubuntu-latest

    # поднимаем PostgreSQL как сервис
    services:
      postgres:
        image: postgres:15
        env:
          POSTGRES_USER: postgres
          POSTGRES_PASSWORD: 123
          POSTGRES_DB: courses_db
        ports:
          - 5432:5432

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      # даём Postgresу время подняться
      - name: Wait for PostgreSQL
        run: |
          echo "Waiting 20 seconds for PostgreSQL to start..."
          sleep 20

      - name: Run pytest
        env:
          # ВАЖНО: именно эта строка уйдёт в os.getenv("DATABASE_URL")
          DATABASE_URL: postgresql+psycopg2://postgres:123@localhost:5432/courses_db
        run: |
          pytest -q

  build-and-push:
    name: Build and push Docker image to DockerHub
    runs-on: ubuntu-latest
    needs: tests    # запускать только если tests прошёл

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Log in to DockerHub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build Docker image
        run: |
          docker build . \
            --file Dockerfile \
            --tag ${{ secrets.DOCKER_USERNAME }}/course-service:latest

      - name: Push Docker image
        run: |
          docker push ${{ secrets.DOCKER_USERNAME }}/course-service:latest
