jobs:
  tests:
    name: Run tests
    runs-on: ubuntu-latest

    services:
      postgres:
        image: postgres:15
        env:
          POSTGRES_USER: postgres
          POSTGRES_PASSWORD: 11092003yaN
          POSTGRES_DB: courses_db
        # ports можно не указывать, мы ходим к сервису по имени "postgres"

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.12"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Wait for PostgreSQL
        run: |
          echo "Waiting 20 seconds for PostgreSQL to start..."
          sleep 20

      - name: Run pytest
        env:
          # ВАЖНО: пароль и БД как у тебя локально, хост = имя сервиса postgres
          DATABASE_URL: postgresql+psycopg2://postgres:11092003yaN@postgres:5432/courses_db
        run: |
          pytest -q
