name: Tests

on:
  push:
  pull_request:

jobs:
  tests:
    runs-on: ubuntu-latest

    services:
      postgres:
        image: postgres:16
        env:
          POSTGRES_USER: postgres
          POSTGRES_PASSWORD: 11092003yaN
          POSTGRES_DB: courses_db
        ports:
          - 5432:5432
        # простая health-check, но без сложных кавычек
        options: >-
          --health-cmd "pg_isready -U postgres -d courses_db"
          --health-interval=5s
          --health-timeout=5s
          --health-retries=5

    env:
      DB_HOST: 127.0.0.1
      DB_PORT: 5432
      DB_USER: postgres
      DB_PASSWORD: 11092003yaN
      DB_NAME: courses_db

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Install dependencies
        run: |
          pip install --upgrade pip
          pip install -r requirements.txt

      - name: Install Postgres client (для проверки)
        run: |
          sudo apt-get update
          sudo apt-get install -y postgresql-client

      - name: Wait for Postgres to be ready
        run: |
          echo "Waiting for Postgres..."
          for i in {1..20}; do
            if pg_isready -h 127.0.0.1 -p 5432 -U postgres; then
              echo "Postgres is ready!"
              exit 0
            fi
            echo "Still not ready, retry #$i"
            sleep 2
          done
          echo "Postgres did not become ready in time"
          exit 1

      - name: Run tests
        run: |
          pytest -q --ignore=test_integration.py

